<!DOCTYPE html>

<title>Hello LoginController!</title>

{% block body %}
    {% apply inline_css
        (
            source("assets/styles/styles.scss"),
            source("assets/styles/login.style.css"), 
            source("assets/styles/util.css")
        ) 
    %}
    <div class="limiter">
        <div class="container-login100" >
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title ">
                    <span>Login</span>
                    <marquee behavior="scroll" direction="left">
                        Election presidentille
                    </marquee>                  
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" id="loginForm">

                    <div class="wrap-input100 wrap-input_1  validate-input" data-validate = "Enter username">
                        <input type="text" id="username"  class="input100 input_1"  name="username" placeholder="Telephone Or Email">
                        <span class="focus-input100 focus_input_1" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 wrap-input_2  validate-input" data-validate="Enter password">
                        <input type="password" class="input100 input_2"  name="password" placeholder="password">
                        <span class="focus-input100 focus_input_2" data-placeholder="&#xe80f;"></span>
                    </div> 

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" style="cursor: pointer">
                            Login
                        </button>
                    </div>

                </form>
                <div class="manifest">
                    <div class="forget">
                        <img src="{{ asset('assets/images/icons/forget.svg') }}" alt="">
                    </div>
                    <div class="register">
                        <img src="{{asset('assets/images/icons/register.svg')}}" alt=""> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endapply %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="module" src="{{ asset('assets/js/login/login.js') }}"></script>
{% endblock %}
