

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#42c23e), to(#275a00));
    box-shadow: inset 2px 2px 2px rgba(231, 231, 231, 0.25), inset -2px -2px 2px rgba(243, 243, 243, 0.25)
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    background: linear-gradient(to right, #98969d, #86828f 1px, #b6b6b6 1px, #646464)
}

:root{

  /*colore*/
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(0, 0%, 57%);
  --color-gray: hsl(249, 4%, 31%);
  --color-primary: hsl(252, 75%, 60%);
  --color-scondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-active-patielle: hsl(61, 100%, 50%);
  --color-danger: hsl(0, 100%, 50%);
  --color-deconnect: hsl(0, 0%, 0%);
  --color-deconnect-patielle: hsl(0, 100%, 50%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);
  --color-black-light: hsl(0, 0%, 17%);
  --color-transparent-with: #ffffff80;
  --color-gris: rgba(88, 83, 83, 0.219);

  //box-shadow
  --box-shadow-night: hsla(0, 0%, 0%, 0.384) 0px 1px 1px,
                      rgba(0, 0, 0, 0.07) 0px 2px 2px,
                      rgba(0, 0, 0, 0.07) 0px 4px 4px,
                      rgba(0, 0, 0, 0.07) 0px 8px 8px,
                      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  ---box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
                      rgba(0, 0, 0, 0.07) 0px 2px 2px,
                      rgba(0, 0, 0, 0.07) 0px 4px 4px,
                      rgba(0, 0, 0, 0.07) 0px 8px 8px,
                      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  ---box-shadow-btn-dash-bord: rgba(0, 0, 0, 0.531) 0px 1px 1px,
                      rgba(0, 0, 0, 0.531) 0px 2px 2px,
                      rgba(0, 0, 0, 0.531) 0px 4px 4px,
                      rgba(0, 0, 0, 0.531) 0px 8px 8px,
                      rgba(0, 0, 0, 0.531) 0px 16px 16px;
  --box-shadow-click: rgba(255, 255, 255, 0.07) 0px 1px 1px,
                      rgba(255, 255, 255, 0.027) 0px 2px 2px,
                      rgba(255, 255, 255, 0.027) 0px 4px 4px,
                      rgba(255, 255, 255, 0.027) 0px 8px 8px,
                      rgba(255, 255, 255, 0.027) 0px 16px 16px;

  --box-shadow-btn-follow: 
                      rgba(255, 238, 0, 0.127) 0px 1px 1px,
                      rgba(119, 255, 0, 0.094) 0px 2px 2px,
                      rgba(230, 0, 255, 0.118) 0px 3px 3px,
                      rgba(42, 24, 24, 0.1) 0px 4px 4px,
                      rgba(93, 0, 255, 0.098) 0px 5px 5px;

  //background
  ---background: linear-gradient(
        to bottom,
        rgba(54, 45, 45, 0.534),
        rgba(31, 29, 29, 0.534),
        rgba(0, 0, 0, 0.89)
  );
  --background-night: linear-gradient(
    to right,
    rgba(54, 45, 45, 0.765),
    rgba(31, 29, 29, 0.731),
    rgba(0, 0, 0, 0.836)
    );
  ---background-gris-transparen: linear-gradient(
    to bottom,
    rgba(158, 158, 158, 0.471),
    rgba(31, 29, 29, 0.534),
    rgba(0, 0, 0, 0.89)
  );

  ---background-gris-transparen-top: linear-gradient(
    to bottom,
    rgba(88, 83, 83, 0.219),
    rgba(31, 29, 29, 0.735),
    rgba(0, 0, 0, 0.89)
  );

  ---background-sidebarheder: linear-gradient(
        to bottom,
        rgb(40, 42, 87),
        rgb(29, 34, 65),
        rgb(26 22 42)
        );

  ---background-messageMe: linear-gradient(
        to bottom,
        rgb(54, 45, 45),
        rgb(31, 29, 29),
        rgb(0, 0, 0)
        );

  ---background-messageYou: linear-gradient(
        to bottom,
        rgb(40, 42, 87),
        rgb(29, 34, 65),
        rgb(26 22 42)
        );

  ---background-bottom: linear-gradient(
          to bottom,
          rgb(54, 45, 45),
          rgb(31, 29, 29),
          rgb(0, 0, 0)
          );

  ---background-hover: linear-gradient(
          to bottom,
          rgb(54, 45, 45),
          rgb(31, 29, 29),
          rgb(35, 85, 25)
        );
  --background-ide:linear-gradient(
      to bottom,
      rgb(54, 45, 45),
      rgb(31, 29, 29),
      rgb(1, 150, 135)
    );
  --background-ide-option:linear-gradient(
      to top,
      rgb(1, 150, 135),
      rgb(54, 45, 45),
      rgb(31, 29, 29)
    );

  ---background-for-blur : rgba(182, 182, 182, 0.2);

  --background_header: #000000;
  --background-black-transparant: #00000072;
  --background_btn_nave: #023004;
  --background_btn_nave1: #019688;

  ---background-top: linear-gradient(
          to bottom,
          rgb(159, 152, 152),
          rgb(31, 29, 29),
          rgb(38, 38, 38)
          );
  ---background-button-follow: linear-gradient(
            to left,
            rgb(45, 52, 54),
            rgb(31, 29, 29),
            rgb(0, 0, 0)
            );
  ---backround-protfolio: rgba(102, 51, 153, 0.252);

  //border radius
  --border-radius: 2rem;
  --card-border-radius: 1rem;

  // padding
  --btn-paddind-1: 0.6rem 2rem;
  --btn-paddind-2: 0.5rem 1.5rem;
  --btn-paddind-3: 0.4rem 1rem;
  --btn-paddind-4: 0.3rem 0.5rem;
  --btn-paddind-5: 0.3rem 0.4rem;
  --btn-paddind-6: 0.2rem 0.3rem;
  --btn-paddind-7: 0.1rem 0.2rem;
  --search-paddind: 0.6rem 0.5rem;
  --search-paddind_1: 0.5rem 0rem;
  --card-paddind: 1rem;
  --card-paddind-1: 0.5rem;
  --card-paddind-2: 5rem;
  --card-paddind-3: 0.15rem;
  --card-paddind-4: 6rem;
  --card-paddind-5: 0.3rem;
  --card-paddind-6: 0.2rem;
  --card-paddind-7: 0.6rem;
  --card-paddind-8: 0.7rem;
  --card-paddind-9: 0.8rem;
  --card-paddind-10: 0.9rem;


  //position sticky
  --sticky-top: 5.4rem;
  --sticky-top-right-1: 4.2rem;
  --sticky-top-right-2: 4.5rem;
  --sticky-top-right: -18rem;
  --sticky-top-left: 4rem

}

*,
*::backdrop,
*::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}
html, body { height: 100%; }
html{
  scroll-snap-type: y mandatory;
}
body{
  margin: 0;
  color: #a2a3a4;
  font-family: "Poppins",sans-serif;
  color: var(--color-dark);
  background: var(--color-black-light);
  overflow-x: hidden;

  a{
      color: #45bf57;
      text-decoration: none;
  }

  .name{
    color: var(--color-white);
  }

  span{
    color: var(--color-scondary);
  }

  .span_logo{
    color: var(--color-active-patielle);
  }


  h3{
    font-size: 9px;
  }
  
  app-sidebar-left{
    width: 22rem;
  }
  app-swaph, app-swap-v, app-conversation{
    width: 80%;
    
  }

}




/* Pour les écrans d'ordinateur de bureau */
@media (min-width: 1200px) {
    /* Pour les écrans d'ordinateur avec une largeur minimale de 1200px */
    .bodySwap {
      grid-template-columns: repeat(4, 1fr);
      transition: all 0.4s ease-in-out;
    }
}

/* Pour les tablettes en mode paysage et écrans larges */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Pour les écrans d'ordinateur avec une largeur minimale de 1200px */
    .bodySwap {
      grid-template-columns: repeat(3, 0fr);
      transition: all 0.4s ease-in-out;
    }
}

/* Pour les tablettes en mode portrait et petits écrans d'ordinateur */
@media (min-width: 768px) and (max-width: 991px) {
    /* Pour les tablettes avec une largeur comprise entre 768px et 1199px */
    .bodySwap {
      grid-template-columns: repeat(3, 0fr);
      transition: all 0.4s ease-in-out;
    }
}

/* Pour les téléphones */
@media (max-width: 767px) {
  /* Pour les téléphones avec une largeur maximale de 767px */
  .bodySwap {
    grid-template-columns: repeat(2, 0fr);
    transition: all 0.4s ease-in-out;
  }
}

/* Pour les téléphones à petite échelle ou écrans très étroits */
@media (max-width: 480px) {
  /* Pour les téléphones avec une largeur maximale de 480px */
  .bodySwap {
    grid-template-columns: repeat(1, 1fr);
    transition: all 0.4s ease-in-out;
  }
}


